/* Reset */
html, body, div, h1, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.block{
	margin-top: 100px;
  min-height: 200px;
	min-width: 100px;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
  background-color: #ecbb61;
}

span{
  position:relative;
  top:45px;

  font-size: 70px;
}


.container {
  margin-top:100px;
}

body{
  background-image: url("image/Untitled.png");
}

